<section class="trending">
  {% comment %} <div class="trending-image-wrapper"> {% endcomment %}
  <div class="trending-image">
    {%- if section.settings.image != blank -%}
      {{ section.settings.left_image | image_url | loading: 'lazy' }}
    {%- else -%}
      <img src="{{ 'trending.png' | asset_url }}" alt="">
    {%- endif -%}
  </div>

  <div class="trending-text-container">
    <h2>{{ section.settings.header }}</h2>
    <p class="trending-text">{{ section.settings.text }}</p>
    <div class="button-wrapper">
      <a href="{{ section.settings.button_link }}">
        {% render 'icon-upright' %}
        <p>{{ section.settings.button_text }}</p>
      </a>
    </div>
  </div>
</section>

<style>
  section.trending {
    background-color: #d5d5d7;
    padding-bottom: 40px;

    position: relative;
  }

  .trending-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .trending-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .trending-text-container {
    width: min(95%, 374px);
    background: #d5d5d7;
    margin-inline: auto;
    z-index:2;
  }

  .trending-text-container h2 {
    font-family: var(--ff-secondary);
    font-size: 30px;
    font-weight: 400;
  }

  .trending-text-container .trending-text {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 22px;
  }

  .trending-text-container .button-wrapper {
    color: #646464;
    /* border: 1px solid red; */
    width: fit-content;
    margin-inline: auto;
  }

  .trending-text-container .button-wrapper p {
    margin: 0;
  }

  .trending-text-container .button-wrapper button {
    width: 70px;
    height: 70px;
    border: 1px solid #646464;
    background-color: transparent;
    margin-bottom: 6px;
    margin-inline: auto;
  }
  @media (min-width: 800px) {
    .trending {
      background-image: url('{{ section.settings.image | img_url: 'master' }}');
      background-size: cover;
      background-position: center;
      min-height: 859px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      max-width: 1921px;
      /* width: auto; */
      /* width: min(100%, 1921px); */

      margin-inline: auto;
    }
    .trending-image-wrapper img {
      display: none;
    }
    .trending-text-container {
      background-color: transparent;
      color: var(--clr-primary-white);
      width: min(100%, 622px);
      display: flex;
      flex-direction: column;
      color: #ffffff;
    }
    .trending .button-wrapper {
      text-align: center;
      margin-inline: unset;
      align-self: flex-end;
      color: #ffffff;
    }
    .trending-text-container {
      margin-top: 108px;
      margin-right: 200px;
    }

    .trending-text-container h2 {
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 0.02em;
      color: #ffffff;
    }
    .trending-text-container .trending-text {
      font-size: 24px;
      line-height: 34px;
    }
    .trending-text-container .button-wrapper button {
      color: #ffffff;
      height: 100px;
      width: 100px;
      border-color: #ffffff;
    }
  }
</style>
{% schema %}
{
  "name": "Highlight",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Trending Image"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Section Header",
      "default": "See What's Trending"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Section Text",
      "default": "Check out KAYANI's must-have featured product! Designed with the modern woman in mind, it's a unique and eye-catching piece that combines trendiness with timelessness. Feel confident and powerful with this high-quality item, perfect for any occasion from a night out to a formal event."
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    }
  ]
}
{% endschema %}
